*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid #000; */
}

html{
    font-family:sans-serif;
}


section{
    height: 100vh;
    overflow: hidden;
}

#home{
    background-image: linear-gradient(to right, #4daf54, #3d8880);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    
}

#home h1{
    font-size: 50px;
    margin-bottom: 30px;
    max-width: 700px;
    /* min-width: 300px; */
}

#home .description{
    font-size: 20px;
    max-width: 700px;
}

#about{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: #242628;
    padding: 20px;
    color: #fff;
    margin: 40px 20px;
    /* align-self: self-start; */
    width: 40vw;
    border-radius: 10px;
}
.title{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}


#team{
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #017c2c 50%, #fff 50%);
    align-items: center;
    
}

.member{
    width: 200px;
    margin: 0 20px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.name{
    color: #017c2c;
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;
}

@media(min-width:768px){
    .box{
        max-width: 500px;
    }
}

@media(max-width:767px){
    #about{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box{
        margin: 20px 0;
        width: 60vw;
        
    }
}

.left-to-right{
    transform: translateX(calc(-100px - 100%));
    transition: 1s;
}

.right-to-left{
    transform: translateX(calc(100px + 100%));
    transition: 1s;
}

.left-to-right.start,.right-to-left.start{
    transform: translateX(0);
}

.zoom{
    transform: scale(0);
    transition: 1s;
}

.zoom.start{
    transform: scale(1);
}